#home input{
    width: 70%;
}
#home button{
    margin-top: 2%;
}
#home .container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}
#home .container > div{
    width: 33%;
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 2% 3% 4%;
}
#home .container #cache i{
    font-size: 41px;
    cursor: pointer;
}